<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acesso ao Sistema</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex items-center justify-center min-h-screen bg-white">

    <div class="flex flex-col md:flex-row bg-white rounded-lg overflow-hidden max-w-7xl w-full mx-4">
        <div class="flex items-center justify-center w-full md:w-1/2 bg-white">
            <img src="{{ url_for('static', filename='loginsvg.svg') }}" alt="Ilustração" class="max-w-full h-auto">
        </div>

        <div class="flex flex-col items-center justify-center w-full md:w-1/2 p-8 space-y-6">
            <form class="w-full space-y-4 p-4">
                <h1 class="text-3xl font-semibold text-gray-800 text-left">Acesso ao Sistema de Cadastro de Demandas</h1>
                <div>
                    <label class="block font-semibold text-gray-700">Email</label>
                    <div class="relative">
                        <input type="email" id="email" name="email"
                            class="mt-1 w-full px-4 py-2 border-2 border-gray-300 rounded-md focus:ring-0 focus:border-black outline-none" />
                    </div>
                </div>
                <div>
                    <label class="block font-semibold text-gray-700">Senha</label>
                    <div class="relative">
                        <input type="password" id="senha" name="senha"
                            class="mt-1 w-full px-4 py-2 border-2 border-gray-300 rounded-md focus:ring-0 focus:border-black outline-none" />
                        <span class="absolute inset-y-0 right-0 pr-3 flex items-center cursor-pointer">
                            <svg class="h-5 w-5 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"></path></svg>
                        </span>
                    </div>
                </div>

                <div class="flex items-center justify-between text-sm text-gray-600">
                    <label class="flex items-center space-x-2">
                        <input type="checkbox" checked class="form-checkbox h-4 w-4 text-blue-600 rounded focus:ring-blue-500" />
                        <span>Manter-me conectado</span>
                    </label>
                    <a href="#" class="text-blue-600 font-bold hover:underline text-sm">Esqueceu a senha?</a>
                </div>

                <button type="submit"
                    class="w-full bg-blue-600 text-white py-2 font-bold border-2 border-[#1351B4] rounded-full hover:bg-blue-700 transition duration-200">
                    Entrar
                </button>

                <div class="text-center">
                    <a href="#" class="text-blue-600 font-bold hover:underline text-sm">Primeiro Acesso?</a>
                </div>

               <div class="flex items-center justify-between gap-2 pt-2">
                    <img src="{{ url_for('static', filename='ifpelogo.png') }}" alt="Logo IFPE" class="h-11">
                    <span class="text-xs text-blue-600 font-bold underline">Precisa de Ajuda?</span>
                </div>
            </form>
        </div>
    </div>
</body>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const senhaInput = document.getElementById('senha');
    const eyeIcon = senhaInput.nextElementSibling;

    eyeIcon.addEventListener('click', () => {
      const isPassword = senhaInput.type === 'password';
      senhaInput.type = isPassword ? 'text' : 'password';
    });
  });
</script>

</html>